# Django
DEBUG=False
SECRET_KEY=
ALLOWED_HOSTS=diakon.undmeererleben.de
CSRF_TRUSTED_ORIGINS=https://diakon.undmeererleben.de

# PostgreSQL (leer lassen = SQLite für lokale Entwicklung)
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=postgres
DB_PORT=5432

# E-Mail / SMTP (leer lassen = Ausgabe nur auf Konsole)
EMAIL_HOST=
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=
