# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
db.sqlite3
media/
staticfiles/

# Environment
.env

# Node
node_modules/

# VS Code
.vscode/

# OS
.DS_Store

# Interne Doku (gehört nicht ins Repo)
Notfall-Wiederherstellung-Datenbank-diakon.docx
