{% extends "base.html" %}

{% block title %}Stellen{% endblock %}
{% block content %}
<div class="min-h-screen">
  <div class="m-6 border border-base-200 rounded-box shadow bg-base-100">
    <div class="p-6 flex">
      <h1 class="text-3xl font-bold flex-auto ">Stellenliste</h1>
      <div class="flex-none ">
        <a class="btn btn-primary" href="{% url "home" %}">Startseite</a>
        {% if perms.traeger.change_stelle %}
        <a class="btn btn-outline btn-primary" href="{% url 'datenaustausch_export_einzeln' 'stellen' %}{% if query %}?q={{ query|urlencode }}{% endif %}">Excel ⬇</a>
        {% endif %}
        <a class="btn btn-error " href="{% url "stellen_create" %}">Add-⊕</a>

      </div>
    </div>
  <div class="flex space-x-2 p-4">
    <div class="flex-1/5 p-4 border border-base-200 rounded-box shadow-lg bg-base-200">
      <form method="get" action="{% url 'stellen' %}">
        <label class="input input-bordered flex items-center gap-2">

          <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <g
              stroke-linejoin="round"
              stroke-linecap="round"
              stroke-width="2.5"
              fill="none"
              stroke="currentColor"
            >
              <circle cx="11" cy="11" r="8"></circle>
              <path d="m21 21-4.3-4.3"></path>
            </g>
          </svg>

          <input
            type="search"
            name="q"
            value="{{ query }}"
            required
            placeholder="ID, Name, plz, ort"
            class="grow"
          />

        </label>
      </form>
      <a href="{% url 'stellen' %}" class="btn btn-ghost">
        ✖ Zurücksetzen
      </a>


      <div class="divider divider-primary">Navigation</div>
      {% include "includes/sidemenu.html" %}
    </div>
    <div class="flex-4/5 p-4 border border-base-200  rounded-box shadow-lg ">

      <div class="w-full mt-2 border-base-200 rounded-box">
        <div class="h-150 overflow-x-auto">
          <table class="table table-sm ">
            <thead>
              <tr>
                <th></th>
                <th>Stellen ID</th>
                <th>Einrichtung</th>
                <th>Stellenname</th>
                <th>Position</th>
                <th>Verantwortlich</th>
              </tr>
            </thead>
            <tbody>
              {% for s in stellens %}
              <tr>
                
                <th>{{ forloop.counter}}</th>
                <td><a class="link link-hover link-info" href="{% url "stellen_detail" s.pk %}"> {{ s.stellen_id }}</a></td>
                <td>{{ s.einrichtung.name}}</td>
                <td>{{ s.name}}</td>
                <td>{{ s.position}}</td>
                <td>{{ s.ansprechpartner.nachname}}, {{ s.ansprechpartner.vorname}}</td>
                
              </tr>
              {% endfor %}
              
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock %}
