<div class="navbar bg-primary shadow-md text-primary-content">
  <div class="flex-1">
    <a class="btn btn-ghost text-xl" href="/">🏡 Startseite</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li><a class="link link-secondary" href="/">Info</a></li>
    
    {% if user.is_authenticated %}
      <li><a class="link link-secondary" href="{% url "personal" %}">Personal</a></li>
    </ul>    
    <a class="btn btn-secondary" href="{% url "myaccount" %}">{{ user.first_name }} 🛀🏽</a>
    {% else %}
    <div class="flex space-x-2">
    <a class="btn btn-secondary" href="{% url "login" %}">Login</a>
    <a class="btn btn-secondary" href="/">Registrieren</a>
    </div>
    {% endif %}
            
  </div>
</div>