{% extends "base.html" %}

{% block title %}Person - {{ mitarbeiter.pk }}{% endblock %}
{% block content %}
<div class="min-h-screen">
    <div class="m-6 border border-base-200 rounded-box shadow bg-base-100">
        <div class="p-6 flex">
            <h1 class="text-3xl font-bold flex-auto ">Mitarbeiterdaten</h1>
            <div class="flex-none ">
                <a class="btn btn-primary" href="{% url "personal" %}">Liste</a>
                <a class="btn btn-error " href="{% url "home" %}">Add-⊕</a>

            </div>
        </div>
          <div class="flex space-x-2 p-4">
    <div class="flex-1/5 p-4 border border-base-200 rounded-box shadow-lg bg-base-200">
      <label class="input">
        <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <g
            stroke-linejoin="round"
            stroke-linecap="round"
            stroke-width="2.5"
            fill="none"
            stroke="currentColor"
          >
            <circle cx="11" cy="11" r="8"></circle>
            <path d="m21 21-4.3-4.3"></path>
          </g>
        </svg>
        <input type="search" required placeholder="Search" />
      </label>

      <div class="divider divider-primary">Navigation</div>
      {% include "includes/sidemenu.html" %}

      
    </div>
    <div class="flex-4/5 p-4 border border-base-200  rounded-box shadow-lg ">
                  <!-- Header Card -->
        <div class="card bg-base-100 shadow-xl mb-6">
            <div class="card-body flex flex-col md:flex-row items-center gap-6">

            <div class="avatar">
                <div class="w-32 rounded-full ring ring-primary ring-offset-base-100 ring-offset-2">
                <img src="{{ mitarbeiter.profilbild.url }}" alt="">
                </div>
            </div>

            <div class="flex-1">
                <h2 class="text-3xl font-bold">{{ mitarbeiter.vorname }} {{ mitarbeiter.nachname }}</h2>
                <p class="text-lg opacity-70">{{ mitarbeiter.get_diakon_titel }} - {{mitarbeiter.get_geschlecht_display}}</p>

                <div class="mt-2">
                <span class="badge badge-success">Aktiv</span>
                <span class="badge badge-outline ml-2">{{ mitarbeiter.personalnummer }}</span>
                </div>
            </div>

            <div class="card-actions">
                <a href="{% url "personal_update" mitarbeiter.pk %}" class="btn btn-primary">Bearbeiten</a>
            </div>

            </div>
        </div>

      <div class="tabs tabs-lift">
        <input type="radio" name="my_tabs_3" class="tab" aria-label="Person" checked="checked" />
        <div class="tab-content bg-base-100 border-base-300 p-6">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                <div class="card bg-base-100 shadow">
                    <div class="card-body">
                        <h3 class="card-title">👤 Persönliche Daten</h3>
                        <div class="divider"></div>

                        <p><strong>Geburtsdatum:</strong> {{ mitarbeiter.geburtsdatum }} ({{mitarbeiter.alter}})</p>
                        <p><strong>Familienstand:</strong> {{ mitarbeiter.get_familienstand_display}} | {{ mitarbeiter.kinder }} Kinder </p>
                        <p class=""><strong>Adresse:</strong> {{ mitarbeiter.strasse }} <br>{{ mitarbeiter.plz }} {{ mitarbeiter.ort }}</p>
                        <p><strong>Telefon privat:</strong> {{ mitarbeiter.telefon_privat }}</p>
                        <p><strong>Telefon dienstlich:</strong> {{ mitarbeiter.telefon_dienst }}</p>
                        <p><strong>E-Mail:</strong> {{ mitarbeiter.email }}</p>
                    </div>
                </div>
                    <!-- Berufliche Daten -->
                <div class="card bg-base-100 shadow">
                    <div class="card-body">
                        <h3 class="card-title">💼 Berufliche Daten</h3>
                        <div class="divider"></div>
                        <p><strong>Anstellungsstatus:</strong> {{ mitarbeiter.get_anstellungs_status_display }}</p>
                        <p><strong>Besoldung:</strong> {{ mitarbeiter.status_besoldung }}</p>
                        <p><strong>Besoldungsstufe:</strong> {{ mitarbeiter.status_stufe }}</p>
                        <p><strong>Beurteilungsergebnis:</strong> {{ mitarbeiter.eintrittsdatum }}</p>
                        <p><strong>Letzte Beurteilung:</strong> {{ mitarbeiter.vertragsart }}</p>
                    </div>
                </div>

            </div>
        </div>

        <input type="radio" name="my_tabs_3" class="tab" aria-label="Einsatz" />
        <div class="tab-content bg-base-100 border-base-300 p-6">
                    <!-- Organisation -->
        <div class="card bg-base-100 shadow md:col-span-2">
            <div class="card-body">
                <h3 class="card-title">🏢 Organisation</h3>
                <div class="divider"></div>

                <div class="stats stats-vertical md:stats-horizontal shadow">

                <div class="stat">
                    <div class="stat-title">Standort</div>
                    <div class="stat-value text-primary">{{ mitarbeiter.standort }}</div>
                </div>

                <div class="stat">
                    <div class="stat-title">Arbeitsmodell</div>
                    <div class="stat-value text-secondary">{{ mitarbeiter.arbeitszeitmodell }}</div>
                </div>

                <div class="stat">
                    <div class="stat-title">Urlaubstage</div>
                    <div class="stat-value">{{ mitarbeiter.urlaubstage }}</div>
                </div>

                </div>
            </div>
        </div>
        </div>
        <input type="radio" name="my_tabs_3" class="tab" aria-label="Kontakt" />
        <div class="tab-content bg-base-100 border-base-300 p-6">Hier kommt ein kontakt feld rein</div>

        <input type="radio" name="my_tabs_3" class="tab" aria-label="Dokumente" />
        <div class="tab-content bg-base-100 border-base-300 p-6">Hier sollen alle nötigen Dokumente hinterlegt werden</div>
        
        <input type="radio" name="my_tabs_3" class="tab" aria-label="Löschen" />
        <div class="tab-content bg-base-100 border-error p-6">
          <div class="flex p-10 items-center justify-center bg-base-200 rounded-box">

            <div class="card max-h-md w-full max-w-md bg-base-100 shadow-xl">
              <div class="card-body">
                <h2 class="card-title text-error">Datensatz löschen</h2>

                <p>
                  Möchtest du <span class="font-bold">{{ mitarbeiter.personalnummer }} - {{ mitarbeiter.vorname }} {{ mitarbeiter.nachname }}</span> wirklich löschen?
                </p>

                <div class="alert alert-warning text-sm">
                  Tippe <span class="font-bold">Löschen</span>, um den Vorgang zu bestätigen.
                </div>

                <form method="post" action="{% url 'mitarbeiter_delete' mitarbeiter.pk %}" class="space-y-4">
                  {% csrf_token %}

                  <input 
                    type="text" 
                    name="confirm_text"
                    placeholder='Schreibe "Löschen"'
                    class="input input-bordered w-full"
                    required
                  >

                  <div class="card-actions justify-between">
                    <a href="{% url 'person_detail' mitarbeiter.pk %}" class="btn btn-ghost">
                      Abbrechen
                    </a>

                    <button type="submit" class="btn btn-error">
                      Endgültig löschen
                    </button>
                  </div>
                </form>

              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
</div>
<script>
  const input = document.querySelector("input[name='confirm_text']");
  const button = document.querySelector("button[type='submit']");

  button.disabled = true;

  input.addEventListener("input", () => {
    button.disabled = input.value !== "Löschen";
  });
</script>


{% endblock %}